
.heading
{
    color: #2E86C1;
    font-family: 'Times New Roman';
    font-weight: bold;
}
.maindivv
{

    width: 24%;
    margin-left: 38%;
    background-color: black;
    padding: 20px;
    padding-left: 70px;
    /* text-align: center; */
}
.circle {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    font-size: 30px;
    line-height: 50px;
    margin-top: 10px;
    border:none;
    text-align: center;
    color: white !important;
    background: #5D6D7E !important;
  }

  .sign {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    font-size: 30px;
    line-height: 50px;
    margin-top: 10px;
    border:none;
    text-align: center;
    color: white !important;
    background: #F5B041 !important;
  }
  
  .zero {
    width: 100px !important;
    height: 50px !important;
    /* border-radius: 15% !important; */
    font-size: 30px;
    line-height: 50px;
    margin-top: 10px;
    border:none;
    text-align: center;
    color: white !important;
    background: #5D6D7E !important;
  }
  .clear {
    width: 220px;
    height: 50px;
    /* border-radius: 40%; */
    font-size: 30px;
    line-height: 50px;
    margin-top: 10px;
    border:none;
    text-align: center;
    color: white;
    background: #5D6D7E;
  }
  






















